* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}


.nav-desktop {
  display: flex;
  gap: 16px;
}

.nav-hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .nav-hamburger {
    display: block;
  }
}